{% extends './layout.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
<link rel="stylesheet" href="{% static 'healthPrediction/css/layout_checkout.css' %}">
<link rel="stylesheet" href="{% static 'healthPrediction/css/Navbar.css' %}">
{% endblock %}
{% block body %}
<div class="container mx-auto py-12 checkout-container">
    <h1 class="text-3xl font-bold mb-8 text-center checkout-header">Checkout</h1>
    {% if order %}
    <div class="p-6 rounded-lg shadow-lg checkout-headerbg">
        <h2 class="text-xl font-semibold">Order Summary:</h2>
        <table class="checkout-table">
            <thead>
                <tr>
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{{ item.medicine.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.medicine.price }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th>Total</th>
                    <td>{{ total_quantity }}</td>
                    <td></td>
                    <td>${{ total_price }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-right checkout-total">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300 complete-purchase-btn">Complete Purchase</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="text-center checkout-empty-message">
        <img src="{% static 'healthPrediction/media/landing_page/cartemptygif.gif' %}" alt="Empty Cart" class="mx-auto mb-4 checkout-image">
        <p class="text-gray-600">No items in your cart.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
