{% extends './layout.html' %}
{% load static %}

{% block title %}Consultations{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
<link rel="stylesheet" href="{% static 'healthPrediction/css/consultation.css' %}">
<link rel="stylesheet" href="{% static 'healthPrediction/css/Navbar.css' %}">
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
{% endblock %}

{% block body %}
<div class="container mx-auto py-12 consultations-container">
    <div class="ml-28 mt-24">
        <h1 class="text-8xl font-bold text-transparent bg-gradient-to-r from-blue-300 to-blue-700 bg-clip-text">Doctor</h1>
        <h1 class="text-8xl font-bold text-transparent bg-gradient-to-r from-blue-300 to-blue-700 bg-clip-text">
            <span id="typed-consultations"></span>
        </h1>

        <div class="w-3/4 mt-4 flex shadow-lg">
            <input type="text" placeholder="Search..." class="flex-grow px-4 py-2 border rounded-l-lg shadow-inner">
            <button class="bg-blue-500 text-white py-2 px-4 rounded-r-lg hover:bg-blue-700 transition duration-300 shadow-lg">Search</button>
        </div>
    </div>

    <div class="flex justify-center mb-8 mt-12">
        <button onclick="showSection('all-doctors')" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300 mx-2">All Doctors</button>
        <button onclick="showSection('requested-doctor'); scrollToBottom();" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300 mx-2">Requested Doctor</button>
    </div>
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="
            {% if message.level_tag == 'success' %}bg-green-100 border border-green-400 text-green-700
            {% elif message.level_tag == 'info' %}bg-blue-100 border border-blue-400 text-blue-700
            {% elif message.level_tag == 'warning' %}bg-yellow-100 border border-yellow-400 text-yellow-700
            {% elif message.level_tag == 'error' %}bg-red-100 border border-red-400 text-red-700
            {% else %}bg-gray-100 border border-gray-400 text-gray-700{% endif %}
            px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <div id="all-doctors" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for doctor in doctors %}
        <div class=" p-6 rounded-lg shadow-lg consultations-headerbg">
            <img class="w-32 h-32 rounded-full mx-auto mb-4" src="{{ doctor.profile_photo.url }}" alt="Profile Photo">
            <h2 class="text-xl font-semibold text-center">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h2>
            <p class="text-gray-600 text-center">Specialty: {{ doctor.specialty }}</p>
            <p class="text-gray-600 text-center">Experience: {{ doctor.years_of_experience }} years</p>
            <p class="text-center {{ doctor.is_available|yesno:'text-green-500, text-red-500' }}">{{ doctor.is_available|yesno:'Available, Not Available' }}</p>
            <div class="text-center mt-4">
                {% if latest_request and latest_request.status == "rejected" %}
                    <a href="" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-300">{{ latest_request.status }}</a>
                    <a href="{% url 'request_consultation' doctor.doctor_id %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Request Consult Again</a>
                {% elif latest_request and latest_request.doctor == doctor.user and latest_request.status != 'completed' %}
                    <a href="{% url 'request_consultation' doctor.doctor_id %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">{{ latest_request.status }}</a>
                {% else %}
                    <a href="{% url 'request_consultation' doctor.doctor_id %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Consult Now</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="requested-doctor" class="hidden consultations-headerbg">
        {% if latest_request and latest_request.status != 'completed' %}
        <div class=" p-6 rounded-lg shadow-lg consultations-headerbg">
            <img class="w-32 h-32 rounded-full mx-auto mb-4" src="{{ doctor_request.profile_photo.url }}" alt="Profile Photo">
            <h2 class="text-xl font-semibold text-center">{{ doctor_request.user.first_name }} {{ doctor_request.user.last_name }}</h2>
            <p class="text-gray-600 text-center">Specialty: {{ doctor_request.specialty }}</p>
            <p class="text-gray-600 text-center">Experience: {{ doctor_request.years_of_experience }} years</p>
            <p class="text-center {{ doctor_request.is_available|yesno:'text-green-500, text-red-500' }}">{{ doctor_request.is_available|yesno:'Available, Not Available' }}</p>

            <div class="text-center mt-4">
                {% if latest_request.status == "rejected" %}
                    <a href="#" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-300">{{ latest_request.status }}</a>
                    <a href="{% url 'request_consultation' doctor_request.doctor_id %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Request Consult Again</a>
                {% elif latest_request and latest_request.status == "accepted" %}
                    <a class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">{{ latest_request.status }}</a>
                    <a href="{% url 'consultation_room' latest_request.id %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Go To consultation room</a>
                {% elif latest_request and latest_request.status != 'completed' %}
                    <a href="{% url 'request_consultation' doctor_request.doctor_id %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">{{ latest_request.status }}</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <p class="text-center text-gray-600">You have not sent a consultation request to any doctor.</p>
        {% endif %}
    </div>
</div>

<script>
    // Inisialisasi Typed.js
    var typed = new Typed('#typed-consultations', {
        strings: ['Consultations'],
        typeSpeed: 100,
        loop: true
    });

    function showSection(sectionId) {
        document.getElementById('all-doctors').classList.add('hidden');
        document.getElementById('requested-doctor').classList.add('hidden');
        document.getElementById(sectionId).classList.remove('hidden');
    }
    function scrollToBottom() {
        window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth'
        });
    }


</script>
{% endblock %}
