{% extends './layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'healthPrediction/css/layout_diabetes.css' %}">
<link rel="stylesheet" href="{% static 'healthPrediction/css/Navbar.css' %}">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

{% endblock %}

{% block body %} 
<div class="pt-8x">
    <div class="welcomeDiabet">
        
        <div class="container-leftW">
            <h1 class="text-8xl font-bold text-transparent bg-gradient-to-r from-blue-300 to-blue-500 bg-clip-text">Diabetes</h1>

<h1 class="mr-28 text-8xl font-bold text-transparent bg-gradient-to-r from-blue-300 to-blue-500 bg-clip-text">
<span id="typed-check"></span></h1>
        </div>
        
        
        <div class="container-rightW">
            <div id="result">
                <h3>Potential Result: {% if result == 0 %}non-diabetes{% else %}diabetes{% endif %}</h3>
                <img src="{% static 'healthPrediction/media/landing_page/dbcheck.jpeg' %}" alt="User Image" class="welcome-image">
            </div>     
        </div>
    </div>
<div class="flex-item containerForm">
    <form class= "flex-item containerFormColor" method="post" action="{% url 'diabetes-view' %}" id="diabetes-form">
        <div class="flex-item container-left ">
            {% csrf_token %}
            
            <div class="form-row">
                {{ form.HighChol.label_tag }}
                {{ form.HighChol }}
            </div>
            <div class="form-row">
                {{ form.CholCheck.label_tag }}
                {{ form.CholCheck }}
            </div>
            <div class="form-row">
                {{ form.Smoker.label_tag }}
                {{ form.Smoker }}
            </div>
            <div class="form-row">
                {{ form.Stroke.label_tag }}
                {{ form.Stroke }}
            </div>
            <div class="form-row">
                {{ form.HeartDiseaseorAttack.label_tag }}
                {{ form.HeartDiseaseorAttack }}
            </div>
            <div class="form-row">
                {{ form.PhysActivity.label_tag }}
                {{ form.PhysActivity }}
            </div>
            <div class="form-row">
                {{ form.Fruits.label_tag }}
                {{ form.Fruits }}
            </div>
        </div>
        <div class="flex-item container-center">
          
            <div class="form-row">
                {{ form.Veggies.label_tag }}
                {{ form.Veggies }}
            </div>
            <div class="form-row">
                {{ form.HvyAlcoholConsump.label_tag }}
                {{ form.HvyAlcoholConsump }}
            </div>
            <div class="form-row">
                {{ form.AnyHealthcare.label_tag }}
                {{ form.AnyHealthcare }}
            </div>
            <div class="form-row">
                {{ form.NoDocbcCost.label_tag }}
                {{ form.NoDocbcCost }}
            </div>
            <div class="form-row">
                {{ form.DiffWalk.label_tag }}
                {{ form.DiffWalk }}
            </div>
            <div class="form-row">
                {% comment %} <label for="id_Sex">Sex:</label>
                <select name="Sex" id="id_Sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select> {% endcomment %}
                {{ form.Sex.label_tag }}
                {{ form.Sex }}
            </div>
            <div class="form-row">
                {{ form.BMI.label_tag }}
                {{ form.BMI }}
            </div>
        </div>
        <div class="flex-item container-right">
            <div class="atas">
            <div class="form-row">
                    {{ form.HighBP.label_tag }}
                    {{ form.HighBP }}
            </div>
            <div class="form-row">
                {{ form.GenHlth.label_tag }}
                {{ form.GenHlth }}
            </div>
            <div class="form-row">
                {{ form.MentHlth.label_tag }}
                {{ form.MentHlth }}
            </div>
            <div class="form-row">
                {{ form.PhysHlth.label_tag }}
                {{ form.PhysHlth }}
            </div>
            <div class="form-row">
                {{ form.Age.label_tag }}
                {{ form.Age }}
            </div>
        </div>
        <div class="bawah">
            <div class="submitButtonContainer">
                <button type="submit" class="submit-button">Submit</button>
            </div>
        </div>
        </div>

    </form>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    // Inisialisasi Typed.js
    var typed = new Typed('#typed-check', {
        strings: ['check', 'check', 'check'], // Ganti teks di sini sesuai kebutuhan
        typeSpeed: 100,
        loop: true // Aktifkan loop
    });
</script>


<script>
// Dapatkan tombol submit
var submitButton = document.querySelector('.submit-button');

// Tambahkan event listener untuk menghandle klik tombol submit
submitButton.addEventListener('click', function() {
    // Lakukan scroll ke atas halaman dengan animasi smooth
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
});
</script>
{% endblock %}
