{% extends "./layout.html" %} 

{% block title %}Home{% endblock %}

{% block body %}

<div class="bg-white p-6 rounded-lg shadow-lg text-center">
    <h1 class="text-3xl font-bold mb-4">Welcome to User App</h1>
    <div class="flex justify-center mt-4">
        {% comment %} <a href="{% url 'feature1' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300 mx-2">Feature 1</a>
        <a href="{% url 'feature2' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300 mx-2">Feature 2</a> {% endcomment %}
    </div>
</div>

{% endblock %}