{% extends './landing_layoutout.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block body %}
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
 
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">Connect with Facebook</span>

                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connect with Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or use your Email address</span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        
    </section>
</div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h1 class="text-9xl font-bold text-transparent bg-gradient-to-r from-blue-300 to-blue-100 bg-clip-text">Aseso</h1>
                    <h1 class="text-9xl font-bold text-transparent bg-gradient-to-r text-white bg-clip-text mb-16">
                        <span id="typed-store"></span>
                    </h1>
                  </div>
                  <div class="col-lg-12  w-1/6">
                    <div class="ScrollButton scroll-to-sectioninline-block bg-gray-200 bg-gradient-to-r from-gray-100 to-white shadow-md py-2 px-4 rounded-lg text-blue-500 hover:text-blue-700 hover:from-gray-100 hover:to-white transition duration-300 flex items-center">
                        <a href="#contact"  id="scrollButton"> Get Started <i class="fab fa-google-play ml-8"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="containerCard1">
                    <div class="card">
                        <div class="imgbox">
                          <img src="{% static 'healthPrediction/media/landing_page/user2.jpg' %}">
                        </div>
                        <div class="content">
                            <h2>User</h2>
                            <p>
                                <a href="{% url 'register' %}" class="btn register-btn"><span>Register</span></a>
                                <a href="{% url 'login' %}" class="btn signin-btn"><span>Sign In</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgbox">
                          <img src="{% static 'healthPrediction/media/landing_page/apoteker.jpg' %}">
                        </div>
                        <div class="content">
                            <h2>Apoteker</h2>
                            <p>
                                <a href="{% url 'pharmacist_register' %}" class="btn register-btn"><span>Register</span></a>
                                <a href="{% url 'pharmacist_login' %}" class="btn signin-btn"><span>Sign In</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgbox">
                          <img src="{% static 'healthPrediction/media/landing_page/doctor2.jpg' %}">
                        </div>
                        <div class="content">
                            <h2>Dokter</h2>
                            <p>
                                <a href="{% url 'doctor_register' %}" class="btn register-btn"><span>Register</span></a>
                                <a href="{% url 'doctor_login' %}" class="btn signin-btn"><span>Sign In</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

</div>
  </footer>


  <!-- Scripts -->
  <script>
    // Temukan tombol
    const scrollButton = document.getElementById('scrollButton');

    // Tambahkan event listener untuk klik tombol
    scrollButton.addEventListener('click', function(event) {
        // Menghentikan default behavior dari link
        event.preventDefault();

        // Menggulirkan halaman ke bawah sebesar 500px
        window.scrollBy({
            top: 630,
            behavior: 'smooth'
        });
    });
    // Inisialisasi Typed.js
    var typed = new Typed('#typed-store', {
      strings: ['Care'],
      typeSpeed: 100,
      loop: true
  });
</script>
  <script src="{% static 'healthPrediction/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'healthPrediction/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'healthPrediction/js/owl-carousel.js' %}"></script>
  <script src="{% static 'healthPrediction/js/animation.js' %}"></script>
  <script src="{% static 'healthPrediction/js/imagesloaded.js' %}"></script>
  <script src="{% static 'healthPrediction/js/popup.js' %}"></script>
  <script src="{% static 'healthPrediction/js/custom.js' %}"></script>
  

  {% comment %} <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script> {% endcomment %}
{% endblock %}
