{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Health{% endblock %} </title>
     <!-- External CSS reference -->
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="{% static 'healthPrediction/css/Navbar.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'healthPrediction/css/LandingPage.css' %}">
    <link rel="stylesheet" href="{% static 'healthPrediction/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'healthPrediction/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'healthPrediction/css/landing_pagev2.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'healthPrediction/css/buttonLogin.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'healthPrediction/css/Navbar.css' %}"> {% endcomment %}
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}

       <!-- Bootstrap core CSS -->
     
    {% comment %} <link href="{% static 'healthPrediction/css/styles.css' %}" rel="stylesheet"> {% endcomment %}
   
       <!--
   
   TemplateMo 570 Chain App Dev
   
   https://templatemo.com/tm-570-chain-app-dev
   
   -->
   
       {% comment %} <!-- Additional CSS Files -->
       <link rel="stylesheet" href="{% static 'healthPrediction/css/LandingPage.css' %}">
       <link rel="stylesheet" href="{% static 'healthPrediction/css/animated.css' %}">
       <link rel="stylesheet" href="{% static 'healthPrediction/css/owl.css' %}"> {% endcomment %}
    <style>
    
    </style>
</head>
<body>
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="index.html" class="logo">
                  <img src="{% static 'healthPrediction/media/landing_page/logo.png' %}" alt="Chain App Dev"> 
                </a>
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li class="scroll-to-section"><a href="{% url 'index' %}" id="nav-welcome">Home</a></li>
                    <li class="scroll-to-section"><a href="{% url 'diabetes-view' %}" id="nav-diabetes">diabetesPrediction</a></li>
                    <li class="scroll-to-section"><a href="{% url 'medicine_list' %}" id="nav-idk">Medicines</a></li>
                    <li class="scroll-to-section"><a href="{% url 'user_cart' %}">Cart</a></li>
                    <li class="scroll-to-section"><a href="{% url 'consultations' %}" id="nav-idk">Consultations</a></li>
                    {% if user.is_authenticated %}
                        <li><div class="gradient-button"><a id="modal_trigger" href="{% url 'logout' %}"><i src="{% static 'healthPrediction/media/landing_page/logout.png' %}" alt="Chain App Dev"></i> Logout</a></div></li> 
                    {% else %}
                        {% comment %} <a href="{% url 'login' %}" id="nav-login">Login</a> {% endcomment %}
                        <li><div class="gradient-button"><a id="modal_trigger" href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li> 
                        <li><div class="gradient-button"><a id="modal_trigger" href="{% url 'register' %}"><i class="fa fa-sign-in-alt"></i> Register</a></div></li> 
                        {% comment %} <a href="{% url 'register' %}" id="nav-register">Register</a> {% endcomment %}
                    {% endif %}
                </ul>        
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
              </nav>
            </div>
          </div>
        </div>
    </header>
    <main class="">
        {% block body %}
        {% endblock %}
    </main>
    <footer class="footer-grid">
        
    </footer>
</body>
</html>