{% extends './layout.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
<div class="container mx-auto py-12">
    <form method="post" enctype="multipart/form-data" class="flex mt-32 justify-center px-20 space-x-10">
        {% csrf_token %}
        <div class="flex flex-col space-y-12 items-center bg-white p-6 rounded-lg shadow-lg w-1/4 h-100 hover-container">
            <div class="flex-shrink-0 mr-4 mt-8" id="logo">
                {% if profile.profile_photo %}
                    <img src="{{ profile.profile_photo.url }}" alt="{{ user.username }}" class="w-56 h-56 rounded-full object-cover">
                {% else %}
                    <img src="{% static 'healthPrediction/media/landing_page/pfp-def.png' %}" alt="pfp-def" class="w-56 h-56 rounded-full object-cover">
                {% endif %}
            </div>
            <div>
                <!-- Hidden file input -->
                <label for="file-upload" class="file-upload">
                    Change Photo
                    <input class id="file-upload" type="file" name="profile_photo" accept="image/*">
                </label>
            </div>
            
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2 hover-container">
            <h1 class="text-3xl font-medium mb-8 text-center">My Profile</h1>
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="username">Username</label>
                {{ user_form.username }}
            </div>
            <div class="flex flex-wrap gap-x-28 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="first_name">First Name</label>
                    {{ user_form.first_name }}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="last_name">Last Name</label>
                    {{ user_form.last_name }}
                </div>
                <div class="mb-4 hidden">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="last_name">Last Name</label>
                    {{ user_form.password }}
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="email">Email</label>
                {{ user_form.email }}
            </div>
            {% if form.date_of_birth %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="date_of_birth">Date of Birth</label>
                {{ form.date_of_birth }}
            </div>
            {% endif %}
            {% if form.sex %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="sex">Sex</label>
                {{ form.sex }}
            </div>
            {% endif %}
            {% if form.address %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="address">Address</label>
                {{ form.address }}
            </div>
            {% endif %}
            {% if form.phone_number %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="phone_number">Phone Number</label>
                {{ form.phone_number }}
            </div>
            {% endif %}
            {% if form.specialty %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="specialty">Specialty</label>
                {{ form.specialty }}
            </div>
            {% endif %}
            {% if form.years_of_experience %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="years_of_experience">Years of Experience</label>
                {{ form.years_of_experience }}
            </div>
            {% endif %}
            {% if form.is_available %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="is_available">Available?</label>
                {{ form.is_available }}
            </div>
            {% endif %}
            {% if form.pharmacy_name %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="pharmacy_name">Pharmacy Name</label>
                {{ form.pharmacy_name }}
            </div>
            {% endif %}
            {% if form.pharmacy_city %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="pharmacy_city">Pharmacy City</label>
                {{ form.pharmacy_city }}
            </div>
            {% endif %}
            <div class="flex items-center justify-between mt-12">
                <button class="bg-blue-500 text-white py-2 px-10 rounded-lg hover:bg-blue-700 transition duration-300" type="submit">
                    Save Changes
                </button>
                <a href="{% url 'profile' %}" class="inline-block align-baseline font-bold text-md text-blue-500 hover:text-blue-800">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
