{% extends './layout.html' %}
{% load static %}


{% block title %}Add Medicine{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'healthPrediction/css/doctor_dashboard.css' %}">
{% endblock %}

{% block body %}
<div class="container mx-auto py-12 min-h-screen flex flex-col justify-center items-center pl-7">
    <div class="p-16 w-2/3 rounded-lg shadow-lg">
        <div class="bg-white mt-20 p-6 rounded-lg shadow-lg px-14">
            <h1 class="text-3xl font-bold mb-4 text-center">Add New Medicine</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="first_name">Name</label>
                    {{ form.name }}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="first_name">Description</label>
                    {{ form.description }}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="first_name">Price</label>
                    {{ form.price }}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="first_name">Stock</label>
                    {{ form.stock }}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="first_name">Image</label>
                    {{ form.image }}
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Add Medicine</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
