{% extends './layout.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block head %}
<!-- CSS Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

<!-- Leaflet.js -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<!-- Leaflet Geosearch -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css">
<script src="https://unpkg.com/leaflet-geosearch@3.1.0/dist/geosearch.umd.js"></script>

<!-- Leaflet Geosearch Providers -->
<script src="https://unpkg.com/geosearch/src/js/l.control.geosearch.js"></script>
<script src="https://unpkg.com/geosearch/src/js/l.geosearch.provider.google.js"></script>
{% endblock %}

{% block body %}
<div class="container mx-auto py-12">
    <form method="post" enctype="multipart/form-data" class="flex mt-32 justify-center px-20 space-x-10">
        {% csrf_token %}
        <div class="flex flex-col space-y-12 items-center bg-white p-6 rounded-lg shadow-lg w-1/4 h-100 hover-container">
            <div class="flex-shrink-0 mr-4 mt-8" id="logo">
                {% if profile.profile_photo %}
                    <img src="{{ profile.profile_photo.url }}" alt="{{ user.username }}" class="w-10 h-10 rounded-full">
                {% else %}
                    <img src="{% static 'healthPrediction/media/landing_page/pfp-def.png' %} %}" alt="pfp-def" class="w-10 h-10 rounded-full">
                {% endif %}            </div>
            <div>
                <!-- Hidden file input -->
                <label for="file-upload" class="file-upload">
                    Change Photo
                    <input class id="file-upload" type="file" name="profile_photo" accept="image/*">
                </label>
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2 hover-container">
            <h1 class="text-3xl font-medium mb-8 text-center">My Profile</h1>
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="username">Username</label>
                {{ user_form.username }}
            </div>
            <div class="flex flex-wrap space-x-28 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="first_name">First Name</label>
                    {{ user_form.first_name }}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="last_name">Last Name</label>
                    {{ user_form.last_name }}
                </div>
                <div class="mb-4 hidden">
                    <label class="block text-gray-700 text-md font-bold mb-2" for="last_name">Last Name</label>
                    {{ user_form.password }}
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="email">Email</label>
                {{ user_form.email }}
            </div>
            {% if form.date_of_birth %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="date_of_birth">Date of Birth</label>
                {{ form.date_of_birth }}
            </div>
            {% endif %}
            {% if form.sex %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="sex">Sex</label>
                {{ form.sex }}
            </div>
            {% endif %}
            {% if form.address %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="address">Address</label>
                {{ form.address }}
            </div>
            {% endif %}
            {% if form.phone_number %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="phone_number">Phone Number</label>
                {{ form.phone_number }}
            </div>
            {% endif %}
            {% if form.specialty %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="specialty">Specialty</label>
                {{ form.specialty }}
            </div>
            {% endif %}
            {% if form.years_of_experience %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="years_of_experience">Years of Experience</label>
                {{ form.years_of_experience }}
            </div>
            {% endif %}
            {% if form.pharmacy_name %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="pharmacy_name">Pharmacy Name</label>
                {{ form.pharmacy_name }}
            </div>
            {% endif %}
            {% if form.pharmacy_city %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="pharmacy_city">Pharmacy City</label>
                {{ form.pharmacy_city }}
            </div>
            {% endif %}
            <div class="mb-4">
                <div id="map" class="h-96 w-full rounded"></div>
                <div>Right click to choose coordinates from map.</div>
            </div>
            {% if form.latitude %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="latitude">Pharmacy City</label>
                {{ form.latitude }}
            </div>
            {% endif %}
            {% if form.longitude %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md font-bold mb-2" for="longitude">Pharmacy City</label>
                {{ form.longitude }}
            </div>
            {% endif %}
            <div class="flex items-center justify-between mt-12">
                <button class="bg-blue-500 text-white py-2 px-10 rounded-lg hover:bg-blue-700 transition duration-300" type="submit">
                    Save Changes
                </button>
                <a href="{% url 'profile' %}" class="inline-block align-baseline font-bold text-md text-blue-500 hover:text-blue-800">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const providerOSM = new GeoSearch.OpenStreetMapProvider();

        var leafletMap = L.map('map', {
            fullscreenControl: true,
            minZoom: 2
        }).setView([-2.5489, 118.0149], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(leafletMap);

        function createIconMarker(color) {
            return L.icon({
                iconUrl: `https://icons.iconarchive.com/icons/icons-land/vista-map-markers/128/Map-Marker-Marker-Outside-${color}-icon.png`,
                iconSize: [34, 34],
                iconAnchor: [10, 34],
                popupAnchor: [-10, -34]
            });
        }

        const latitudeField = document.getElementById('id_latitude');
        const longitudeField = document.getElementById('id_longitude');

        const colors = ['blue', 'red', 'green', 'yellow', 'purple'];
        let colorIndex = 0;

        function formatCoordinate(value) {
            return value.toFixed(7).substring(0, 10);
        }

        // Event listener to update coordinates when the map is clicked
        leafletMap.on('contextmenu', function(e) {
            latitudeField.value = formatCoordinate(e.latlng.lat);
            longitudeField.value = formatCoordinate(e.latlng.lng);
        });

        const search = new GeoSearch.GeoSearchControl({
            provider: providerOSM,
            style: 'icon',
            searchLabel: 'Search Location',
        });
        leafletMap.addControl(search);
    });
</script>
</script>
{% endblock %}
