@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url('../media/landing_page/backgroundblue.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    min-height: 100vh !important;
    margin: 0 !important;
    font-family: "Poppins", sans-serif !important;
}

.logo {
    margin-left: 20px;
    margin-top: 5px;
}
.container {
    margin-top: 10px;
}
.nav {
    margin-right: 30px !important;
    margin-top: 10px !important;
    max-height: 20px !important;
}
.header-area{
    padding-bottom: 20px!important;
}


.pt-10x {
    padding-top: 10rem;
}

.pt-8x {
    padding-top: 5rem;
}

.pt-9x {
    padding-top: 9rem;
}
.pb-10x{
    padding-bottom: 10rem;
}


.dropdown-menu {
    display: none; /* Hide by default */
}

@media (max-width: 768px) {
    .dropdown-menu {
        display: block; /* Show on smaller screens */
        position: absolute;
        top: 100%; /* Position below the main nav */
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .dropdown-menu.active {
        display: block; /* Show when active */
    }
}


.hidden {
    display: none;
}

.hover-container {
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);  /* Optional: To make the content stand out */
    border-radius: 10px;  /* Optional: To give rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: For a slight shadow effect */
    transition: background-image 0.5s, transform 1s;
    background-size: cover;
}

.hover-container:hover {
    background-image: url('../media/landing_page/bghover.png'); 
    content: cover;
    transform: scale(1.05); 
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"],
input[type="date"],
input[type="number"],
select,
textarea {
    border: 1px solid #e2e8f0; /* Thin border */
    padding: 8px;
    margin-bottom: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Bottom shadow */
    width: 100%;
    max-width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0.25rem; /* Rounded corners */
}

/* Adjust focus style */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #4a90e2; /* Focus border color */
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.1); /* Focus shadow */
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: #3b82f6;
    color: white;
    padding: 10px 30px;
    border-radius: 0.25rem;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.file-upload:hover {
    background-color: #1d4ed8;
}

.file-upload input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}